<button mat-raised-button color="primary" routerLink="/home">
	Home
</button>

<div>
	<form [formGroup]="signupForm" (ngSubmit)="signup()">
		<div>
			<label>Full Name</label>
			<input autocomplete="off" formControlName="displayName" type="text" matInput placeholder="Display Name">
		</div>
		<div>
			<label>Email</label>
			<input formControlName="email" type="email" matInput placeholder="Email">
		</div>
		<div>
			<label>Password</label>
			<input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
		</div>
		<div *ngIf="firebaseErrorMessage != ''" class="error-style">
				<span>{{ firebaseErrorMessage }}</span>
		</div>

		<button mat-raised-button color="primary">Signup</button>
	</form>
</div>
